<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FLASK MAFFT Prototype</h1>
    <button type="button">Run MAFFT</button>
    <h2>OUTPUT OF MAFFT</h2>
    <p>{{ mafft_out }}</p>
</body>
</html>